[2015-03-14 01:19] ijt opened #1 "Safe not implemented for Ecto.Time"
When displaying a template that iterates over a table containing some times, the following error occurred:

protocol Phoenix.HTML.Safe not implemented for %Ecto.Time{hour: 0, min: 0, sec: 0}

[2015-03-14 13:52] #1 closed

[2015-03-21 20:41] josevalim opened #4 "Release v0.2.0"
@jeregrine @drewolson @paulcsmith, to release I am waiting on your feedback here:

https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/json.ex

And the tests:

https://github.com/phoenixframework/phoenix_ecto/blob/master/test/phoenix_ecto/json_test.exs

Date, Time, DateTime and Decimal are all represented as strings. We also implemented JSON rendering for changesets and a

[2015-03-21 20:42] josevalim commented on #4
Also /cc @chrismccord.

[2015-03-21 20:45] jeregrine commented on #4
:+1: I probably wouldn't use the changeset but I think its good to have a sensible default. And if we are including this with phoenix wouldn't poison always be loaded?

[2015-03-21 20:50] chrismccord commented on #4
:shipit:

[2015-03-21 21:03] paulcsmith commented on #4
Looks great! Just one thought.

I think I would want the changeset with errors to be encoded with an `errors` key. Otherwise how would I check if there were errors? I think it should be encoded with an `errors` key for the same reason that the errors in the changeset are in an errors key.

[2015-03-21 21:12] paulcsmith commented on #4
I would also consider extracting a function to make it easy to tell what Map.reduce is doing. Maybe something like: https://gist.github.com/paulcsmith/e19d077a8422cd2f86b4 ?

[2015-03-21 21:17] drewolson commented on #4
Looks good to me.

On Saturday, March 21, 2015, Paul Smith <notifications@github.com> wrote:

[2015-03-21 21:50] josevalim commented on #4
@jeregrine the idea is that Phoenix.HTML will be usable outside of Phoenix too. I think Hex plans to use it. So it will depend on phoenix_html and poison but as optional dependencies.

@paulcsmith I thought about leaving the errors key to the user. So they just need to do `%{errors: changeset}` and that is it. A pull request to clean up the code is welcome. :)

[2015-03-21 21:55] josevalim commented on #4
Thank you everyone, new version released!

[2015-03-21 21:55] #4 closed

[2015-03-21 21:58] paulcsmith commented on #4
@paulcsmith: That makes sense. More flexible.

[2015-04-04 09:24] matrixise opened #7 "Can't install phoenix_ecto with mix, error with git."
When I try to install phoenix_ecto via mix I have an error, I don't have this problem if I clone the repository with git in a shell.
[code]

[code]

Do you have an idea?

Thanks

[2015-04-04 09:39] josevalim commented on #7
Can you run:

mix deps.unlock phoenix_ecto

And try again?

It seems your project is locked to a version that does not exist.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-04 09:46] matrixise commented on #7
Works fine with unlock. After that, I removed the mix.lock file, the _build and deps/ directories and restart mix deps.get and no errors. Thank you.

[2015-04-04 09:46] #7 closed

[2015-04-07 00:18] scrogson opened #8 "Add mix task for seeding the database"
I brought this idea to @ericmj and @chrismccord today, but it seems that we might need some more opinions on the matter.

The first idea was to add `mix ecto.seed` to Ecto. It would read `seed.exs` from `priv/repo/seeds`. This would allow users to seed their database following a nice convention.

Eric pointed out that this can be done really easily with `mix run priv/repo/seeds.exs`. But now I rea

[2015-04-07 01:40] chrismccord commented on #8
I am against the `import_seed` approach because it introduces more functions/macros where we could use a regular task. If we add an idiomatic seed setup, my vote is to generate a file like below. I also like that it acts as another avenue to introduce mix tasks to users early and make it part of their workflow.

[code]

I am :+1: on coming up with a standard seeding approach

[2015-04-07 01:51] ericmj commented on #8
Just FYI, `run` calls `app.start`. Starting the application will usually start the repo. Now that may not always because application startup may depend on data in the seed so we may need a custom task that can start the repo without starting the app (like `ecto.migrate` and friends).

[2015-04-07 02:28] scrogson commented on #8
@chrismccord ok, so generate the task for the new application from the `phoenix.new` task and not from this `phoenix_ecto` application? If so, I'll start a PR shortly.

[2015-04-07 07:57] josevalim commented on #8
I am with @ericmj here. I would go with mix run (which starts at the app
and repo) until we prove we need something more. Creating a seeds file with
information on how to run it with mix run is likely enough.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-11 20:12] josevalim opened #9 "Implement Plug.Exception for Ecto exceptions"

[2015-04-12 11:51] josevalim commented on #9
Done and v0.3.1 is out with this.

[2015-04-12 11:51] #9 closed

[2015-04-12 21:09] schaary opened #10 "Callbacks for inserted_at are missing?"
I've tried phoenixframework today, which comes with phoenix_ecto. I've setup the credentials and created a migration and a model:

     $ cat priv/repo/migrations/20150412101442_create_accounts.exs
     defmodule ElixirAccounts.Repo.Migrations.CreateAccount do
       use Ecto.Migration

       def change do
         create table (:accounts) do
           add :umt_login_id, :integer
          add :

[2015-04-12 21:17] lancehalvorsen commented on #10
I believe you need to have `timestamps` at the bottom of the schema block in your model as well.

[code]

[2015-04-12 21:22] schaary commented on #10
You made my day! Thx

[2015-04-12 21:22] #10 closed

[2015-04-12 21:39] lancehalvorsen commented on #10
And that made my day. Thank you!  :)

Also, you are going to want a changeset for your model so you can do validations, among other things. You might want to have a look at this, which I'm going to push to phoenixframework.org very soon:
https://github.com/lancehalvorsen/phoenix-guides/blob/master/H_ecto-models.md

[2015-06-19 05:38] HashNuke commented on #8
Apps might start other services on `app.start`. If the seeding feature is added, it would be nice to just start the repo worker and not the entire app to avoid problems (address-in-use and such).

Had an SMTP server, which was started with `app.start`. Now I check for the config option before starting the SMTP server.

[code]

[[ Thanks to @chrismccord for the tip about the `serve_endpoints` Phoen

[2015-06-19 06:31] josevalim commented on #8
By default `mix run` won't start the http endpoint, so we are covered.

[2015-07-08 16:45] ericmj opened #15 "Raise when json rendering Ecto.Associations.NotLoaded"

[2015-07-16 16:53] chrismccord opened #16 "Release with Ecto 0.13 support"

[2015-07-16 17:43] josevalim commented on #16
This works fine with 0.13. The plan is to release a new one with features coming in v0.14.

[2015-07-16 17:52] josevalim commented on #16
Once v0.14 hits, we will need to update Phoenix to no longer generate Ecto.Date, Ecto.DateTime and Ecto.Time.

[2015-07-16 18:17] chrismccord commented on #16
We still need to bump the ecto dep don't we? It will only pull down 0.12 right?

[2015-07-16 18:32] josevalim commented on #16
No, it is: `{:ecto, "~> 0.12"}`

[2015-07-16 18:37] josevalim commented on #16
Note to self: we will also need to do `if changeset.action` instead of `if changeset.errors != []`.

[2015-07-19 21:08] #8 closed

[2015-07-19 21:08] #15 closed

[2015-07-19 21:08] #16 closed

[2015-07-20 08:37] olgeni opened #17 "Missing tag for 0.6.0"
Hi, could you add a tag for 0.6.0 too?

[2015-07-20 08:41] olgeni opened #18 "Duplicate beam files (Poison encoders)"
Hi,

There is some overlap between ecto and phoenix_ecto for the Poison encoders.

phoenix_ecto builds these beam files:

    Elixir.Poison.Encoder.Decimal.beam
    Elixir.Poison.Encoder.Ecto.Changeset.beam
    Elixir.Poison.Encoder.Ecto.Date.beam
    Elixir.Poison.Encoder.Ecto.DateTime.beam
    Elixir.Poison.Encoder.Ecto.Time.beam

ecto has these:

    Elixir.Poison.Encoder.Decimal.beam
    Elixi

[2015-07-20 08:45] josevalim commented on #17
Done!

[2015-07-20 08:45] #17 closed

[2015-07-20 08:45] josevalim commented on #18
They have already been removed from phoenix ecto, except the changeset one which is phoenix specific.

[2015-07-20 08:45] #18 closed

[2015-07-20 09:21] olgeni commented on #18
Great - I saw it before the upgrade. Thanks! :+1:

[2015-07-25 01:05] arthurcolle commented on #10
Another day made! Thnx (third variation on `thank you`)

[2015-08-12 12:02] InoMurko opened #22 "migration with SQL - syntax error reporting"
Hi,
for example:
defmodule HelloPhoenix.Repo.Migrations.UpdateTimestampFields do
  use Ecto.Migration
  def up do
    "ALTER TALBE posts ALTER COLUMN created_at TYPE date"
  end
end
--------------------
See "TALBE" ...
--------------------
Running this produces:
mix ecto.migrate Repo

12:44:32.151 [info]  == Running HelloPhoenix.Repo.Migrations.UpdateTimestampFields.up/0 forward
12:44:32.155 [info

[2015-08-12 12:08] josevalim commented on #22
That's a very old syntax no longer supported by Ecto migrations. Please check Ecto.Migration for reference on the matter.

[2015-08-12 12:08] #22 closed

[2015-08-14 01:30] sumerman opened #23 "inputs_for should not iterate over deleted entries"
Similar to elixir-lang/ecto#875.

[2015-08-14 01:32] sumerman opened #24 "inputs_for should iterate over the related models contents if no changes were given"

[2015-08-14 01:34] josevalim commented on #24
I don't follow this one.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-08-14 01:37] josevalim commented on #23
I am not sure I agree here. If the child model was deleted, I want to show
it somehow in the view, otherwise I cannot review all the information.
Maybe it even cannot be deleted to an error in itself.

If you want to skip it, you can maybe skip it yourself and not generate
anything for that particular change set?

There is an article on blog.plataformatec.com.br that covers exactly this.

--

*Jos

[2015-08-14 01:39] sumerman commented on #24
@josevalim now if I want to show currently present items I have manually convert them to params and call cast. E.g.:
[code]
If I don't do this I get an empty form.

Which is quite as written in the source [here](https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/html.ex#L53) and [here](https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/html.ex#

[2015-08-14 01:44] sumerman commented on #23
@josevalim In my case contents of a form must always replace whatever is in the model. Maybe I'm cooking it wrong, but instead of getting the contents replaced, I'm getting the new stuff plus the old stuff.

[2015-08-14 01:49] sumerman commented on #23
@josevalim I've review the case from the article and there is nothing in contradiction with my proposal. In my case some items in the changeset already have `:delete` as their action, because a change comes from a previous step of a wizard.

[2015-08-14 01:54] josevalim commented on #23
@sumerman well, those two ways of doing things are conflicting because one the delete action is marked as part of the input while the other is already marked as deleted.

I can think of two solutions to this problem:

  * Add a `skip_deleted` flag - this way, we won't show deleted items (treat them as nil for has_one and remove from the collection on has_many)

  * Add a `skip_id` flag - this way

[2015-08-14 02:20] sumerman commented on #23
I still don't see the conflict. In understanding "delete action is marked as part of the input" case, at least its implementation from article, does not involve changeset's action until the very end and input is carried inside a virtual field. On a contrary, I can think of using both approaches simultaneously:
1. wizard-step-1 renders a first part of a model
2. user marks something as deleted and

[2015-08-14 02:53] josevalim commented on #23
@sumerman yes, however, if I fix your use case, my use case will be broken. I am certain, I just tried. :) So something gotta give. :)

P.S.: me too. let's continue this tomorrow!

[2015-08-14 02:56] josevalim commented on #24
Can you tell me if it would work if you build it as:

    changeset = Model.changeset(changeset, :empty)

I am almost sure it is required to build a changeset. The `:empty` parameters does it for you.

[2015-08-14 07:54] sumerman commented on #23
@josevalim I'm ok with `skip_deleted` then

[2015-08-14 08:41] sumerman commented on #24
It does if I put a model instead of changeset as a first parameter. But in my particular case, a controller's action already have params, so it becomes `Model.changeset(Model.changeset(model), params)` which is not very intuitive and should be documented at least.

[2015-08-14 09:22] josevalim commented on #24
@sumerman I see and I agree. I will try to find a solution.

[2015-08-14 09:23] sumerman commented on #24
@josevalim thanks for this and for all your work.

[2015-08-14 09:47] josevalim commented on #23
@sumerman  I am working on this and I have a question.

Imagine that I have a deleted changeset in a has_one relationship. Should we show the `:default` value? Or should we just not render anything? I am thinking it is rather the later?

[2015-08-14 09:54] sumerman commented on #23
@josevalim if you are talking about `skip_deleted` approach then I'm also for the latter. Nothing should be rendered because user just instructed the method to skip deleted entries.

[2015-08-14 10:14] josevalim commented on #23
Can you please give master a try and let me know if works as expected? I want to fix the other issue and ship 2.1 along side ecto 0.16.

[2015-08-14 12:21] josevalim commented on #24
Ok, this is more complicated than expected because, for embeds, the data is always there... which means defaults would never be triggered.

When are you first generating the changeset? Are you generating it with the `:empty` parameter?

[2015-08-14 14:39] sumerman commented on #24
First time it's generated by another controller action, then it's shown as a form to a user who modifies it then it shown as immutable part of the form which becomes a param-only initialization. Also there is a problem with `Model.changeset(Model.changeset(model), params)` but I will open a separate issue on `elixir-lang/ecto` for it.

[2015-08-14 15:01] sumerman commented on #23
@josevalim master works fine. thanks!

[2015-08-14 15:01] #23 closed

[2015-08-15 09:47] josevalim commented on #24
Fixed in master. We now always take the value in the model into account.

[2015-08-15 09:47] #24 closed

[2015-09-17 03:21] davidkuhta commented on #10
Tks (just to add a fourth)
http://www.phoenixframework.org/docs/ecto-models#section-the-model for anyone else who ends up here due to overlooking ```timestamps``` in Models, schema.

[2015-09-18 11:06] josevalim commented on #8
For those following at home, you can do: `mix run priv/repo/seeds.exs` in your Phoenix app and that's all. The `seeds.exs` file is full of comments to tell you what to do and what not to do.

[2015-11-10 16:51] scrogson opened #28 "Reimplementing protocol implementations"
I'm working on an app that uses UUID's for primary keys. If someone attempts to visit (for example) the `show` page for a given resource but the `id` is not a valid UUID, an `Ecto.CastError` is raised, which results in a `400` status code.

In this case, it might be desirable to change this into a `404` as the resource doesn't exist for the given `id`.

Since the default implementation is defined

[2015-11-12 20:09] chrismccord commented on #28
One option is to override call/2 in your router:

[code]

[2015-11-12 22:09] josevalim commented on #28
We can probably change it to check if the field is a primary key of the model, if so, we raise 404, otherwise 400. Thoughts?

[2015-11-19 18:19] scrogson commented on #28
Either of these solutions sound fine to me.

[2015-12-08 21:04] phongmh307 opened #29 "Error when updated a model with derived key"
For some reason, I have to add option: `@derive {Phoenix.Param, key: :_id}` to my model.
This error happened after that

[code]

[2015-12-08 21:05] chrismccord commented on #29
Where is the `_id` field coming from? What ecto adapter are you using?

[2015-12-08 21:08] phongmh307 commented on #29
Here is from my mix.lock
[code]

This is my update call
[code]

[2015-12-08 21:12] phongmh307 commented on #29
and the _id type is `string`, not `binary_id`

[2015-12-08 21:21] ericmj commented on #29
Can you show your schema?

[2015-12-08 21:24] michalmuskala commented on #29
Especially the `@primary_key` configuration.

[2015-12-08 21:27] phongmh307 commented on #29
here it is. Thank you guys so much
[code]

[2015-12-08 21:28] ericmj commented on #29
Your primary key should be `id`.

[2015-12-08 21:33] michalmuskala commented on #29
It can be `_id`. We should be able to handle any name for the primary key, it should be converted to `_id` for mongo, as that's the only thing mongo will accept. The part that is causing issues is that the `@primary_key` is not `autogenerate: true`. Without this option we can't really do the primary key name conversion, but with `_id` for a name it should work nicely.
We're missing a clause in the

[2015-12-08 21:43] ericmj commented on #29
Yes, but `Phoenix.Param` defaults to `id`. Hence the need for `@derive {Phoenix.Param, key: :_id}` which I believe was the original issue.

[2015-12-08 21:46] phongmh307 commented on #29
I need to customize `_id` to fit with our old Rails code. If I just set it to `@primary_key {:id, :string, []}`
it will still generate a `_id` automatically and also another `id` with the param that I passed in

[2015-12-08 21:56] michalmuskala commented on #29
Why `:string` for the primary key?
If you set `@primary_key {:id, :binary_id, autogenerate: true}` we should translate `:id` on application level to `_id` on database level.

[2015-12-08 22:01] phongmh307 commented on #29
Because our old Rails code using a customized string for `_id`. We are building another application that using the same db.

[2015-12-08 22:13] josevalim commented on #29
Please open up an issue on Mongo.Ecto. :)

[2015-12-08 22:20] phongmh307 commented on #29
I really apologize for the inconvenience. I was searching both repo and posted here by mistake.

Reposted at: https://github.com/michalmuskala/mongodb_ecto/issues/53

[2015-12-08 22:20] #29 closed

[2015-12-08 23:27] josevalim commented on #29
It is not an inconvenience at all. Pretty much the same people would end-up reading it anyway :P

[2016-01-03 23:42] conradwt opened #32 "Phoenix Ecto Integration Should Generate Complete Migration File"
It appears that the migration process generates an empty migration file instead of a fully formed executable migration file.  Thus, here are my findings using `phoenix_ecto 2.0` and `phoenix 1.1.0` as I work through the `Programming Phoenix` ebook.

user.ex:

[code]

[code]

priv/repo/migrations/20160103224338_create_user.exs:

`expected`

[code]

`actual`

[code]

Lastly, there might be a bit of

[2016-01-03 23:46] chrismccord commented on #32
Echo's migration generator only generates a blank migration, so the code output is expected.

Perhaps you meant to write: `mix phoenix.gen.html User users name:string ...` ?

[2016-01-03 23:46] #32 closed

[2016-01-04 00:37] conradwt commented on #32
@chrismccord I'm following the example on page 54 of the PDF.  Thus, should I be using the following instead to generate both the model and the migration file:

[code]

[2016-01-04 00:46] chrismccord commented on #32
The text in the book is not as clear as it could be, but it is instructing you to manually key in those fields after you run `mix ecto.gen.migration`. Later, when the book introduces generators, you see how it is done for you.

[2016-01-14 05:02] mgwidmann opened #33 "Ecto 2.0 support"
Noticing a problem with this line:

https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/html.ex#L202

The following is returned in an embedded relation now:

[code]

Wasn't quite sure what to do since the `cast` field is no longer available...

Heres the stacktrace produced when attempting to do a `inputs_for` call on an embedded relation:

[code]

Crashing line is here:

[2016-01-16 09:02] #33 closed

[2016-01-30 05:43] VladShcherbin opened #36 "Ecto callbacks, how to write them"
Since Ecto callbacks are deprecated now, how do we handle after/before actions now? Before actions can be done using changesets, but what about after callbacks.

I need to broadcast an event after data is inserted. Any even simple example how to do it now?

[2016-01-30 09:54] josevalim commented on #36
Broadcast in your controller, that's exactly the kind of actions we ask to not do in callbacks. Specially because callbacks run even if the transaction is rolledback. Also, please use the mailing list as previously asked. Thank you.

[2016-01-30 09:54] #36 closed

[2016-03-18 13:37] wojtekmach opened #39 "Build ecto master on CI"
I just noticed that `phoenix_ecto` build is broken when integrated with the latest `ecto` master. Do you think this a problem likely to occur frequently (and thus worth adding some alerts), or it doesn't matter much?

I have heard about other OSS projects that are catching integration issues early on by using e.g. CI build matrices and pointing upstream deps to master branches. I took a stab at it

[2016-03-18 13:45] josevalim commented on #39
I am not a huge fan because I don't think phoenix_ecto should break when a dependency that is in development breaks. It is not supposed to happen frequently anyway!

[2016-03-18 13:45] #39 closed

[2016-03-18 13:46] josevalim commented on #39
(Btw, I see it is an allowed failure but I am still not sure it is worth it).

[2016-03-18 13:46] josevalim commented on #39
Thank you!

[2016-04-03 00:45] tuvistavie opened #41 "Make concurrent acceptance tests smoother"
Hi,

I am currently working on Hound and would like to have your feedback to make concurrent acceptance tests smoother.
After having discussed with @josevalim in HashNuke/hound#71, here is what we came up with:
https://github.com/HashNuke/hound/pull/98

Basically, we can now pass any metadata to the driver, it will be sent through the UA string.
The serialization/deserialization will be handled au

[2016-04-03 11:29] josevalim commented on #41
Thank you @tuvistavie! I will review the Hound stuff soon.

In general, I agree with this but we should not depend on Hound in the Plug. We should agree on a contract on how those are encoded in the user agent, so projects like Wallaby also work.

@tokafish @keathley, what are your thoughts?

[2016-04-03 15:10] keathley commented on #41
Using the user agent seems like a good solution to me. If this is the contract that we'd like to have does it make sense to move the encoding/decoding logic into `phoenix_ecto`? The only concern I have with sharing this logic is that it introduces a dependency on `phoenix_ecto` which we currently don't have. Thats not a large concern though.

[2016-04-03 15:18] josevalim commented on #41
We don't need to move the logic to phoenix_ecto. We just need to agree on
the encoding/decoding format and have everyone abide to it. It will
probably be a tuple with term_to_binary and Base64 encoding.

On Sunday, April 3, 2016, Chris Keathley <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-04-03 15:28] keathley commented on #41
That seems good to me.

[2016-04-03 15:44] tuvistavie commented on #41
I also agree it is better to avoid having dependencies between the packages where we do not need them.

In the current encoding, I am appending a string  `/HoundMetadata (metadata)` to the normal user agent.
Here, metadata is a map or keyword list joined by a `,` with each key/value pairs encoded with `term_to_binary` + b64 without padding and joined with a `=`.
So for example, given `f = b64 . te

[2016-04-03 17:19] josevalim commented on #41
My propose in the Hound issues tracker was:

    BeamMetadata (#{{:v1, map} |> :erlang.term_to_binary |> Binary.url_encode64})

We could convert it to `key=value&` pairs but I don't see much the purpose as it would be easier to just encode everything. :)

[2016-04-14 22:52] yial2 opened #42 "Optimistic Lock - StaleModelError for both Repo.update and Repo.update!"
Hi,

I am **NOT** sure if this is even an issue or this is is by design, so please forgiving my ignorance. Elixir/Phoenix newbie here.

I understand that Repo.update! will raise StaleModelError if DB conflicts are encountered, but from my understanding, Repo.update should return an error **tuple** (e.g. {:error, changeset}). What I am seeing is that Repo.update is also raising the error, so I have

[2016-04-14 22:53] josevalim commented on #42
@yial2 it is by design because it is impossible for us to know if the stale model was because of the lock or because it was removed or even something else. Enjoy!

[2016-04-14 22:53] #42 closed

[2016-04-16 17:14] josevalim commented on #41
@tuvistavie could you please send a pull request to Phoenix.Ecto that uses the new metadata we have in Hound? Thank you! :)

[2016-04-16 17:15] josevalim commented on #41
Then let's do new hound and phoenix-ecto releases and get the smoother concurrent tests out there :D

[2016-04-16 19:53] keathley commented on #41
Excited to get this into Wallaby as well 👍

[2016-04-17 00:50] tuvistavie commented on #41
@josevalim Sure! I should have time to do this during next week!

[2016-04-17 08:08] josevalim commented on #41
@tuvistavie do you think it would be possible to have this sooner? We want to release a phoenix-rc. If you can't focus on it, it is OK, I can tackle the missing parts as you already did most of the work. :) Thank you.

[2016-04-17 08:20] tuvistavie commented on #41
@josevalim Alright, it should not take too long so I will give it a try tonight!

[2016-04-17 08:24] josevalim commented on #41
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-04-17 19:16] flomop opened #45 "mix ecto.migrate on ecto 2.0.0-rc.0"
I tried to make **mix ecto.migrate** in my Phoenix application and surprisingly found the following error:

    warning: could not find repositories for application :adah.

    You can avoid this warning by passing the -r flag or by setting the
    repositories managed by this application in your config files:

      config :adah, ecto_repos: [...]

    The configuration may be an empty list if it

[2016-04-17 20:48] josevalim commented on #45
This is not meant to be a warning but an error. Please do what is suggested
in themes sage and you should be good. I will fix the message soon. Thank
you! :)

On Sunday, April 17, 2016, flomop <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-04-17 21:17] flomop commented on #45
@josevalim , thank's for reply! It just take me a lot of time to figure out that I should just add
`config :adah, ecto_repos: []` in my **config.exs** file:-)

[2016-04-18 09:35] josevalim commented on #45
Fixed in Ecto master. :)

[2016-04-18 09:35] #45 closed

[2016-04-19 10:06] #41 closed

[2016-04-26 14:37] kaermorchen commented on #45
@josevalim I catch this warning
[code]
My deps are:
[code]

[2016-04-26 14:51] josevalim commented on #45
Please update to the latest RC. In any case, you will have to set the `config :instructor, ecto_repos: [...]` in your "config/config.exs"/

[2016-04-26 15:19] kaermorchen commented on #45
I use latest RC version. And when I add `config :instructor, ecto_repos: []` in `config/config.exs` migration not performed.

[2016-04-26 15:24] flomop commented on #45
@kaermorchen Stanislav, try:

`mix ecto.migrate -r YourApp.Repo`

[2016-04-26 15:24] josevalim commented on #45
@kaermorchen you need to include the repository in the configuration:

    config :instructor, ecto_repos: [Instructor.Repo]

[2016-04-26 15:55] ericmj opened #47 "phoenix_ecto depends on plug but doesn't declare the dependency"

[2016-04-26 16:08] josevalim commented on #47
phoenix_html does though.

[2016-04-26 16:29] kaermorchen commented on #45
@josevalim that work, tanks.

[2016-04-26 16:41] ericmj commented on #47
Then optional should be removed from phoenix_html.

[2016-04-26 18:41] josevalim commented on #47
Oh, I see. We should add it then, thank you.

[2016-05-01 00:16] bbrock25 opened #48 "uniqueness validation fails under test"
I'm not sure if this is the right place to file this issue (or if its even an issue), but I'm fairly perplexed.

I am trying to write some simple model tests that reflect the validations on my user model. The issue is that the validations are running correctly in test, with the exception of the `unique_constraing(:email, message: "email taken")`. I would assume that this is a bug in my code, excep

[2016-05-01 01:12] bbrock25 commented on #48
welp, a little test db reset resolved the issue.
`MIX_ENV=test mix ecto.reset`

[2016-05-01 01:12] #48 closed

[2016-05-05 06:54] UeshibaKyohei opened #49 "ecto.rollback(:mariaex) - Cannot drop index 'xxxx_index': needed in a foreign key constraint"
(* I'm sorry. I can't speak english )

* MySQL Community Server (GPL) - 5.7.12
* OSX10.11   (x86_64)
* Elixir 1.2.4

[code]

## STEP1 - Create *User* data
[code]

## STEP2 - Create *Movie* data
- An associated User
- A title
[code]

## STEP3 - Mariaex.Error
[code]

Is this a known issue or there is something wrong with my app?
Thank you!!

[2016-05-05 07:32] josevalim commented on #49
That's how foreign keys work. :) You cannot remove a foreign key if there are associated records. Here is an alternative if you want to ignore those checks (although be careful if you do): https://gauravsohoni.wordpress.com/2009/03/09/mysql-disable-foreign-key-checks-or-constraints/

[2016-05-05 07:32] #49 closed

[2016-05-05 09:17] UeshibaKyohei commented on #49
Thank you very much for your prompt responses.

But, it can not be resolved at that information.

mysql >= v5.6.x
[code]

There is no effect of the option(foreign_key_checks)!

* means

[code]

"mix ecto.rollback" can not be used in Mysql>=5.6.x

Please consider this matter.

[2016-05-05 10:03] josevalim commented on #49
Can you please paste your migration? There is nothing Ecto can do, that is coming from your database. You cannot remove an INDEX if the INDEX is used by a foreign key. You need to first remove the foreign key, then you can remove the INDEX.

[2016-05-05 11:32] UeshibaKyohei commented on #49
Thank you very much for your prompt responses.

I want to use '$ mix ecto.migrate / ecto.rollback'. So it has been changed as follows:

* before
[code]

* after
[code]
I will later to set the 'foreign-key' by mysql client.

どうもありがとうございます。

[2016-05-19 00:35] ashrafhasson commented on #45
I have a similar issue even after setting the Repo as `config :app, ecto_repos: [App.Repo]`, I still get the following errors:

[code]

[2016-05-19 06:12] josevalim commented on #45
Please include the full stacktrace and error message.

On Thursday, May 19, 2016, Ashraf Hasson <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-19 16:43] ashrafhasson commented on #45
@josevalim really sorry, apparently the error I reported above was related to a bug in Guardian.

[2016-06-16 13:48] tmjoen opened #50 "Redefining module problem w/ last Ecto RC"
Since there is not a new RC release of phoenix_ecto and the latest Ecto RC handles the Poison encoding, there is code duplication which causes my `exrm` builds to fail.

Or at least, I think that's what's happening, since it works with `phoenix_ecto` master. :)

[code]

[code]

[2016-06-16 14:12] josevalim commented on #50
I have just released phoenix_ecto 3.0.0. bump to it and you should be good :D

[2016-06-16 14:12] #50 closed

[2016-06-16 21:36] curtislinden opened #51 "Expecting form to be populated via changeset"
I'm expecting my form to be populated via changeset (this is with ecto-2.0.0-rc6) and phoenix_ecto 3.0

I needed to explicitly do this 👍

        changeset = Map.put(changeset,:params, params["user"])

Am I right in expecting this Form to have the changeset fields populated by default?

[2016-06-16 21:40] josevalim commented on #51
@curtislinden you need to give us more information. If you build a change in your new action, you don't need to set the params explicitly.

[2016-06-16 21:50] curtislinden commented on #51
In a create..

[code]
I construct a changset that will fail due to missing params
[code]
I render the form with the changeset.

[2016-06-16 21:59] josevalim commented on #51
I have just tried this in an application and everything worked fine on this action:

[code]

so please let me know how to reproduce this, possibly in a sample application, because I cannot.

[2016-06-16 23:12] curtislinden commented on #51
Thank you sir!

I isolated the issue and found everything to be functioning as expected. Then I took out
[code]
and was able to establish the expected behaviour.

I will post an issue with Guardian.

[2016-06-16 23:12] #51 closed

[2016-06-17 10:20] ramusbucket opened #52 "ecto.create fails on windows"
I'm starting with Phoenix framework and trying to get my hands on - https://github.com/gitter-badger/phoenix-starter

When I try to `mix ecto.create` I get following error -

[code]

I'm clueless at this point about how to fix this. I have ` {:phoenix_ecto, "~> 2.0"}` dependency.

[2016-06-17 10:34] josevalim commented on #52
Can you tell us what is the exact version for Ecto in your mix.lock file? You can also run "mix deps" and grab it from there.

[2016-06-17 10:39] ramusbucket commented on #52
It seems `1.1.3`

[2016-06-17 10:42] josevalim commented on #52
@ramusbucket you need to set those environment options: https://github.com/gitter-badger/phoenix-starter/blob/master/config/dev.exs#L27-L29 Otherwise there is no database and the command will fail.

[2016-06-17 10:42] #52 closed

[2016-06-17 10:47] ramusbucket commented on #52
Yes, I have set them in .envrc for both (dev and test) variables.

[2016-06-17 10:55] josevalim commented on #52
If you do echo $VAR_NAME, can you see the proper value? Because that seems
to be the only possible error here. Or try changing the config/dev.exs
system calls by actual values.

On Friday, June 17, 2016, ramusbucket <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-17 10:58] ramusbucket commented on #52
Right, when I places actual values in place in dev.exs, it worked. But I was wondering why it did not read it from .envrc. Thanks a lot!

[2016-06-17 11:38] ramusbucket commented on #52
I could get working by runing this command from `git bash` on windows
` source .envrc && mix ecto.setup`

[2016-06-26 10:22] jeroenhouben commented on #45
Ik also had to change this:

[code]

where peepchat is my app's name

[2016-06-26 10:24] jeroenhouben commented on #45
Or, and I think this is the better way:

[code]

[2016-07-08 04:30] craig-day opened #57 "CaseClauseError v3.0"
I have v3 declared as a dependency in my project, `{:phoenix_ecto, "~> 3.0"}`, but when trying to compile it get a `CaseClauseError`.

[code]

here is my complete dependency list.

[code]

[2016-07-08 04:34] craig-day commented on #57
Nevermind I guess. Sorry for the issue, must be something with my local config.  It builds fine elsewhere.

[2016-07-08 04:34] #57 closed

[2016-07-11 22:42] #47 closed

[2016-08-07 22:50] clessg opened #61 "Enum fields in MySQL"
This seems to work:

[code]

Is this the proper way to do it? It just seems weird to use the `size` option for this. Although I suppose the generated DDL is technically valid.

[2016-08-07 23:04] josevalim commented on #61
You can always use `execute` to build it by hand. But ideally you may want to send a pull request to Ecto that adds proper adapter support in the migration DSL. :)

[2016-08-07 23:04] #61 closed

[2016-09-27 14:55] benjamingb opened #64 "failed to install phoenix_ecto 3.1.0-rc.0"
[code]
error message

[code]

[2016-09-27 15:18] josevalim commented on #64
This is weird. Try running `mix deps.update phoenix_ecto` or try using only `~> 3.1.0-rc` and let us know if it works.

[2016-09-27 15:33] benjamingb commented on #64
ok run using "mix deps.update phoenix_ecto"

but it does not work `or_where`

[code]

Dependencies
[code]

[2016-09-27 15:48] josevalim commented on #64
I think you found a bug in Ecto. I will investigate soon. :)

[2016-09-27 15:52] benjamingb commented on #64
It works
City |> where([c], c.state == "Sweden") |> or_where([c], c.state == "Brazil")

This fails
`from(c in City, where: [state: "Sweden"], or_where: [state: "Brazil"])`

[2016-09-27 16:28] josevalim commented on #64
Great catch, it has been fixed in Ecto master. You can use it for now by adding `{:ecto, github: "elixir-ecto/ecto", override: true}` to your mix.exs deps.

[2016-09-27 16:28] #64 closed

[2016-09-28 16:39] benjamingb opened #65 "the query do not change"
[code]
The first time works well
[code]

The second time when switching to the option "OR", remains in "AND"
[code]
if first out "OR" always remains in OR

[2016-09-28 16:41] chrismccord commented on #65
Please open an issue on the Ecto repo, as this is not phoenix_ecto related. Thanks!

[2016-09-28 16:41] #65 closed

[2016-09-28 16:54] josevalim commented on #65
This has been fixed in Ecto master. I will release 2.1.0-rc.1 soon. :)

[2016-11-09 18:19] Grafikart opened #66 "form_for changeset with errors"
When a changeset is used to create a `%Phoenix.HTML.Form[}` errors seems to be ignored.

I found the explanation but I can't firgure why this line is used
https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/html.ex#L232

If I send a changeset containing errors to Phoenix.HTML.Form.form_for I would expect errors to be transmitted.

[code]

Maybe I'm missing something but a

[2016-11-09 18:36] josevalim commented on #66
You need to set the action in the changeset, otherwise, the changeset is considered like it was "committed" or "sent" to the repository. This is because folks may run validations even on the "new" action, for dry running or setting up some configs, and we don't want to show those then.

[2016-11-09 18:36] #66 closed

[2016-11-09 18:37] chrismccord commented on #66
Please send support requests to the mailing list. If you believe you have experience a bug, please file the issue with the issue template filled out so we can properly help. In this case, the lack of an action on the changeset will not show errors; consider the case where you are building a resource for a new form, the changeset is "invalid", but you don't want to show errors. THe presence of an a

[2016-11-12 07:54] cuongkta opened #67 "Pass join parameters on assoc"
I have the issue like this ecto's issue with phoenix_ecto:
https://github.com/elixir-ecto/ecto/issues/1678

Pls advise. How to use 'on' query with paramater

from i in query,
      left_join: v in assoc(i, :votes)
      on: v.user_id = ^user_id

How to make it works ?

[2016-11-12 10:10] josevalim commented on #67
You need a comma after the second expression:

[code]

Also please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2016-11-12 10:10] #67 closed

[2016-11-22 19:45] abitdodgy opened #70 "Possible bug in inputs_for when using cast_assoc and custom changesets"
I ran into a possible bug when using `inputs_for` with `cast_assoc` and custom changesets. This is a standard many-to-many association.

When I specify a changeset with a different name (than _changeset_) in `cast_assoc` (for example, `cast_assoc(:foo, with: :bar_changeset)`), the form fails with this error (see stack trace below):

[code]

Here are my models:

[code]

[code]

[code]

Pay attentio

[2016-11-22 22:35] josevalim commented on #70
`cast_assoc(:memberships, with: :registration_changeset)` is no longer supported, not even in Ecto. So do `cast_assoc(:memberships, with: &Membership.registration_changeset/2)` or something of sorts.

[2016-11-22 22:35] #70 closed

[2016-12-19 15:09] ThijsWouters opened #71 "Phoenix.HTML.Form.field_value/3 does not return then change when given a Ecto.Changeset"
When I create a form with a `Ecto.Changeset` with changes, I would expect that the changes are taken into account when the form is populated. Right now only the params are taken into account.

[code]

[2016-12-19 22:10] #71 closed

[2016-12-20 08:42] ThijsWouters commented on #71
No, that did not fix it. I added a test to describe the behaviour I am after. Correct me if I am wrong:

- Look in the changes,
- if nothing is there, look in the params,
- if nothing is there, look in the data,
- if nothing is there, return the default value or nil.

[2016-12-20 09:02] ThijsWouters commented on #71
I can't fix it in this repo. This behaviour needs a change in [phoenixframework/phoenix_html](https://github.com/phoenixframework/phoenix_html).

The precedence now is: params -> default -> changes -> data.

This feels wrong, especially that the default value is taken before the changes or actual data.

[2016-12-20 09:22] josevalim commented on #71
@ThijsWouters can you please check Ecto master?

You are correct except by the default which should have higher preference than the data because the default often uses a value computed on top of the data.

[2016-12-20 09:41] ThijsWouters commented on #71
@josevalim Taking the default over the data does not make sense to me.

Let's say we have a transaction with a date. We want a default date of today.

So you say that when we start to edit the transaction, the date field is not filled with the previously chosen date, but with the current date?

[2016-12-20 09:47] josevalim commented on #71
The default is used for cases where you want to use a value that was computed on top of the data value, hence you want it to have higher precedence:

    input_value(form, :name, String.upcase(data.name))

If you really want a value if nothing else was set then you can do this:

    input_value(form, :name) || "fallback"

Maybe it is a matter of giving it a better name than default, such as "compu

[2016-12-20 10:13] ThijsWouters commented on #71
It does work as expected on master, thanks.

`default` is indeed a confusing name for something like this.

[2017-01-11 10:06] asiniy opened #72 "`plug Phoenix.Ecto.SQL.Sandbox` doesn't share connection to sockets."
I use `wallaby` for my feature tests, and my application uses websockets internally. While simple http request works pretty well, socket implementation brings me

[code]
I have an `Repo.get` query inside my `UserSocket` in order to authenticate

[2017-01-11 10:23] josevalim commented on #72
Socket requests do not go through the plug pipeline, so there is nothing Phoenix.Ecto can do. One idea is for you to change your UserSocket to handle ownership mechanism, similar to what `Ecto.Adapters.SQL.Sandbox` does. Of course, you would do so only during the test environment.

[2017-01-11 12:28] asiniy commented on #72
@josevalim sounds reasonable, but how could I do that?

[2017-01-11 12:28] asiniy commented on #72
The whole behaviour doesn't look intuitive.

[2017-01-11 12:36] josevalim commented on #72
Are you familiar with how the Ecto Sandbox works? If not, I would recommend getting started with the Ecto.Adapters.SQL.Sandbox docs.

The basic idea is that the test process owns the connection and therefore you need to tell the web request/web socket process who is the connection owner. Wallaby does that by encoding the test process information (literally the pid retrieved as `self()`) plus the r

[2017-01-11 13:24] asiniy commented on #72
@josevalim thanks for the detailed description. I knew it all.
The only question is how can I `pass that parameter when you establish the socket connection`?

Actually, yeah, I'll do something like

[code]

But how could I pass `:safe_db_process` to `socket`? I haven't found any option...

[2017-01-11 13:27] asiniy commented on #72
The only relatively helpful thing I have found is `CowboyHandler` module https://github.com/phoenixframework/phoenix/blob/f2e02d97ef79f825f6bbbdc2d7b69a1d005bff90/lib/phoenix/endpoint/cowboy_handler.ex#L27 but the question about how could I pass this parameter still remains opened

[2017-01-11 13:28] josevalim commented on #72
You cannot use Application.put_env because then you cannot run the tests concurrently as it is global storage. If you don't want to run the websocket tests concurrently, then you can set the sandbox to shared mode, as said in the error message.

I have answered that above, you pass it as a request parameter, for example:

    GET /socket/websocket?token=xxxx&vsn=1.0.0&owner=#{encoded_base64_owner}

[2017-01-11 16:01] asiniy commented on #72
@josevalim huge thanks!
Will write an article on weekend to back knowledge to the community. Will share it with you here, will be glad if you add it to elixir radar newsletter :)

[2017-01-11 16:01] #72 closed

[2017-01-12 02:45] ChrisZou commented on #32
I also found it unclear. Hope this part would get updated in the next version.

[2017-01-15 12:38] Voronchuk opened #73 "Primary key requirement in `form_for_hidden`"
I was wondering why primary keys are required on this spot
[code]

We use `embedded_schema` to store subdocuments inside single Mongo Object, with schema like the following:

[code]
where `Fatespinner.Character.Attributes` have to look like:

[code]
This dummy primary key looks annoying, because it's set only not to trigger "missing primary key error" while editing nested embedded_schema with `inp

[2017-01-15 16:00] josevalim commented on #73
Please send a pull request. It made sense at the time when we originally added but it is no longer necessary.

[2017-01-15 17:39] michalmuskala commented on #73
I guess it would be still required for associations of `:many` cardinality, but for singular associations it's indeed unnecessary.

[2017-01-15 17:43] josevalim commented on #73
I think it is not necessary if you are using something like `on_replace: :delete`. You just refresh everything on every submit.

[2017-02-03 15:21] PragTob opened #74 "Log response for Ecto.CastError & friends"
Hey there,

I'm not sure where to file this (my internal candidate list phoenix, plug and this) but for our phoenix application when the request fails due to an Ecto.CastError or similiar then nothing is put in the log, as opposed to when things went well. I.e.

[code]

The first request is successful, and nicely tells me that it was successful. The next 2 requests I altered the data to be garbage

[2017-02-03 16:55] josevalim commented on #74
We should log it somewhere. You are correct that we have removed it from the translator, because those are about processes crashes, but we have added it here: https://github.com/elixir-lang/plug/commit/980ee5e8f17140b6e008dcbe0b69a5f1c4c2e3fe#diff-fe7642be3a5c6d1ca8939d45d9c7e82fR130

I think the mistake is that we should have added something similar to above to Phoenix.RenderErrors here: https://

[2017-02-03 20:15] PragTob commented on #74
I'll see what I can do, thanks for the explanation and the pointers! :)

[2017-02-16 02:55] facto opened #75 "Implement Plug.Exception for Ecto.InvalidChangesetError"
It would seem to make sense to do something like this:

[code]

Thoughts? I'm happy to make a PR if this is a desired direction.

[2017-02-16 08:26] josevalim commented on #75
Yes, PR please.

[2017-02-16 16:42] #75 closed

[2017-02-18 08:08] LostKobrakai commented on #73
I've hit the same issue while trying to use schemaless changesets. It's about a form to add users to a newsletter. I'd only like to use the validation part of ecto and later delegate to the newsletter service's api.

[2017-02-18 08:42] josevalim commented on #73
@LostKobrakai can you please try a PR and let us know how it goes? :)

[2017-02-18 08:43] josevalim commented on #73
Or a failing test case to our test suite, which would help us a lot.

[2017-02-18 08:59] LostKobrakai commented on #73
I've added a PR, but I'm not sure my fix for it is the best way to solve it.

[2017-02-18 09:23] josevalim commented on #73
3.2.2 is out with @LostKobrakai's fix!

[2017-02-18 09:23] #73 closed

[2017-03-06 22:37] darksheik opened #78 "Rollback: no function clause matching in Ecto.Adapters.Postgres.Connection.intersperse_map"
A relatively straightforward migration failed while rolling back.  Appears to be while attempting to drop the "company_id" column.

[code]

Error message:

[code]

Versions:
Ecto: 2.1.3, Phoenix_Ecto: 3.0.1

[2017-03-06 22:39] #78 closed

[2017-03-06 22:40] darksheik commented on #78
Sorry, I should have opened this in ecto :|

[2017-03-06 23:54] josevalim commented on #78
No worries, fixed in Ecto master and in the v2.1 branch as well

[2017-04-17 13:45] samphilipd opened #79 "Empty :errors key in form object from changeset with nil action"
I was scratching my head wondering why my `:errors` was empty in the form object even though there are errors in the changeset.

Then I found this commit https://github.com/phoenixframework/phoenix_ecto/commit/d374ed8017ff2252cf2da51d4d678e1d0c7ffc69 which sets errors to empty if the action is `nil`.

My question is, **why do this**? Are we supposed to usually set an action on the changeset? I can

[2017-04-17 14:41] chrismccord commented on #79
If no action has been applied to the changeset, no errors are shown. This is useful for things like validation hints on form fields. Imagine you build an empty changeset for a new form. That changeset isn't valid, but we don't want to show errors until an actual user action has been peformed. Likewise, we still may want to introspect the changeset for validation hints on fields to aid UX.  Thanks!

[2017-04-17 14:41] #79 closed

[2017-04-17 14:45] samphilipd commented on #79
Thanks Chris that makes sense. I wonder if we could add something to the docs about this, since it might confuse people.

[2017-04-18 10:00] josevalim commented on #79
@samphilipd can you please add some docs to phoenix_html form_for if appropriate? Thank you!

[2017-04-22 21:23] mvalitov opened #81 "MIX_ENV=prod mix ecto.migrations does not see all files"
I ran into the problem that `mix ecto.migrate` and `mix ecto.migrations` does not see my last migration files in production mode. But sees them in mode dev
[code]

I tried to execute `MIX_ENV=prod mix ecto.drop` and `MIX_ENV=prod mix ecto.create && MIX_ENV=prod mix ecto.migrate`, but this did not work.

What could be the reason?

versions: phoenix_ecto 3.2.3 , ecto 2.1.4

[2017-04-22 22:21] josevalim commented on #81
Nothing comes to mind. Can you please provide a way to reproduce the issue?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-04-23 07:34] mvalitov commented on #81
I'm afraid I can not. The fact is that on another computer this problem is not there, all migrations work correctly. The problem only occurs on this server

[2017-04-23 08:55] josevalim commented on #81
Without a mechanism to reproduce the error, I am afraid there isn't much we can do.

[2017-04-23 09:31] mvalitov commented on #81
Can we communicate in some other way so that I can provide you with temporary access to my server?

[2017-04-23 09:50] josevalim commented on #81
@mvalitov thanks for the offer but we have limited time to maintain projects and we cannot afford to use it for tracking issues on production servers. Sorry.

[2017-04-23 09:56] mvalitov commented on #81
Yes, I understand you. I suggested this only because I copied all the code to another server, I did not find the problem. Hence, and giving you access to the source code, we will not fix anything. Thank you for the time devoted to my problem. Apparently, I have no other options but to work on another server, or completely clean up and reinstall on the current server?

[2017-04-23 10:07] josevalim commented on #81
@mvalitov it seems to be the case. You can try yet a third server and see if the issue exists or not. If it does not, it is likely an issue with the first server unrelated to Ecto or Phoenix. FWIW, this is the first time I see such issue reported.

[2017-04-23 10:34] mvalitov commented on #81
Removal and a new installation on the current server solved the problem

[2017-04-23 10:34] #81 closed

[2017-05-04 08:42] tomciopp opened #82 "Set schema prefix on insert/insert!"
When inserting a changeset/struct if you've set a prefix on insertion the resulting struct does not include the prefix in the Ecto.Schema.Metadata. My expectation is that this value should be set to whatever the value of the prefix was.

Here is the full problem that I'm having:

When testing I will often create some factories that need to be persisted to the database. However I run into issues du

[2017-05-04 10:30] josevalim commented on #82
Can you please provide code snippets of what you are doing, the results you are expecting and include your Phoenix and Ecto versions?

[2017-05-04 10:47] tomciopp commented on #82
Ecto: 2.1.4
Phoenix:  1.2.3

Here is a factory module based off of what is in my app:
    defmodule MyApp.Factory do
      def build(:tenant) do
         %MyApp.Tenant{name: "tenant"}
      end

      def build(:user) do
        %Scalpel.User{username: "example-#{System.unique_integer()}"}
      end

      def build(factory_name, attributes) do
        factory_name |> build() |> struct(attributes)

[2017-05-04 11:43] josevalim commented on #82
Yes, you are correct. We should update the record if the prefix is given.
Can you please open up this issue in the Ecto repository?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-05-04 12:37] #82 closed

[2017-05-30 09:07] schnittchen opened #83 "`field_value/3` conversion behaviour seems inconsistent"
Hello,

I have an Ecto schema with a `Money.Ecto.Type` field and noticed the following:

When rendering a changeset from the schema without errors, `field_value` returns a `Money` struct.
In the presence of an error (on another field), it returns the value represented as a string like "0.80".
This broke a custom field render function of mine.

Note that the behaviour has been changed by upgrading

[2017-05-30 09:38] josevalim commented on #83
Are you sure only the Ecto version changed?

In any case, this behaviour is desired because in case of errors, you want to show what the user typed, and what the user typed may not be a valid type/struct, exactly in case of errors, so you need to be able to handle raw values in your input.

[2017-05-30 09:38] #83 closed

[2017-05-30 09:39] schnittchen commented on #83
Yes, only ecto changed.

Thank you for clarifying! Hopefully others confused in the same way find this.

[2017-06-01 21:21] auxbuss opened #84 "docs not published on hexdocs"
https://hexdocs.pm/phoenix_ecto is returning a 404

Unexpected per https://hex.pm/docs/tasks#hex_publish

I discovered this when I found the docs weren't available to Dash.

[2017-06-01 21:33] josevalim commented on #84
There are no docs for Phoenix.Ecto. It only implements protocols. Maybe publishing a documentation that says that though would be better than nothing.

[2017-06-01 21:39] auxbuss commented on #84
In the English language, at least, there's a precedent for this: https://en.wikipedia.org/wiki/Intentionally_blank_page

I do think it would be useful.

[2017-06-20 13:24] Eiji7 commented on #84
@auxbuss and @josevalim: How about make `README.md` main page?
[code]
Can I make PR for that?

[2017-06-20 13:34] josevalim commented on #84
@Eiji7 sounds good, please do!

[2017-07-13 14:44] alvinlindstam opened #86 "RFC: Make protocol implementations optional"
We use phoenix_ecto, but does not always want to return or handle `Ecto.NoResultsError` as 404 pages. Would it be possible to make the implementations configurable (so that one might opt out of them while still using the rest of the project)?

# Reasoning

Let's assume we have the following route:

`item_path  GET   /item/:id       Project.Web.ItemController :show`

In the Controller, we'd use `Re

[2017-07-13 14:51] josevalim commented on #86
Isn't returning 404 the most reasonable behaviour for the majority of your Ecto.NoResultsError though? This proposal only makes sense if most times this is the wrong result, so you want to swap the default.

[2017-07-13 15:19] alvinlindstam commented on #86
Yes, I'm guessing that most `Ecto.NoResultsError`s in phoenix projects are actually 404s.

But with the protocol implementation, it's just not a default. If I understand things correctly, any `Ecto.NoResultsError` in a Controller will result in a 404, there is no way out.

You could try not to use the functions that raise those errors, but you might not be in control of all of them and it might no

[2017-07-13 15:44] josevalim commented on #86
Sorry but I don't see how making it optional is going to make your options any better or worse. Imagine that you disable this, then what are you going to do next?

[2017-07-13 16:16] alvinlindstam commented on #86
I would probably write something like

[code]

Then I'd have to be explicit about when a missing object should be treated as a 404 instead of an application error by using `Repo.get_or_404!` when appropriate:

[code]

Disclaimer: I come from the Django community, and are used to doing this (by using their [`get_object_or_404`](https://docs.djangoproject.com/en/1.11/topics/http/shortcuts/#get-objec

[2017-07-13 17:00] josevalim commented on #86
You can write that today without touching the protocol implementation, no? The only reason to change the protocol implementation is if you want it to be a 500 instead of a 404.

[2017-07-13 20:13] alvinlindstam commented on #86
Yes, but the response code (and the error page that we return to users) matters. Not *all* `Ecto.NoResultsError` are 404s, but the protocol implementation forces all of them to be handled as 404s.

[2017-07-13 21:01] josevalim commented on #86
Just to be clear:

Is this what you want to do?

[2017-07-14 08:12] alvinlindstam commented on #86
Yes

[2017-07-14 08:18] josevalim commented on #86
Beautiful, PR please? :)

[2017-07-14 09:04] alvinlindstam commented on #86
Yes, I'll take a look at an implementation.

[2017-07-18 11:15] #86 closed

[2017-07-24 12:13] jorditudela opened #88 "Undefined function video_path/2"
After running

 `mix​​ ​​phoenix.gen.html​​ ​​Video​​ ​​videos​​ ​​user_id:references:users​​ ​​​url:string​​ ​​title:string​​ ​​description:text​`

and applying all indicated additional modifications I get a Compilation Error below:

[code]

[2017-07-24 12:36] josevalim commented on #88
Can you please make sure you added video_path to your router and saved the file? If it still fails, can you please provide an application that reproduces the error?

[2017-07-24 14:55] jorditudela commented on #88
Sorry, my bad....

I made a typo when adding the `resources "/videos",  VideoController`

[2017-07-24 14:55] #88 closed

[2017-09-08 13:40] sjoconnor opened #90 "Changeset.apply_action/2 is not found."
I'd like to use [`Ecto.Changeset.apply_action/2`](https://hexdocs.pm/ecto/Ecto.Changeset.html#apply_action/2) in my Phoenix app. I see it's available in version 2.2.1 of Ecto. Are there plans to bump the Ecto version used by `phoenix_ecto` to 2.2.1 anytime soon?

[2017-09-08 13:46] josevalim commented on #90
@sjoconnor PhoenixEcto supports any Ecto version after 2.1. You can add `{:ecto, "~> 2.2.0"}` to your mix.exs and it should be picked up.

[2017-09-08 13:46] #90 closed

[2017-09-08 13:50] sjoconnor commented on #90
I didn't realize that, thanks!

[2017-09-19 21:13] #84 closed

[2017-10-12 05:32] nonotest opened #93 "Issue with List.flatten and composed queries"
Hi Guys,

first thanks for the amazing work on this.

I have recently updated to `phoenix_ecto 3.3.0` and have noticed a bit of code stopped working.
With 3.2.3 I could do something like:
[code]

If I try the same with 3.3.0 it generates:
[code]
and obviously doesn't work.

Is my usage incorrect or something broke with the latest update?

thanks!

[2017-10-12 07:41] nonotest commented on #93
Hi please ignore this.
I was hitting this error: https://github.com/elixir-ecto/ecto/issues/2253

sorry!

[2017-10-12 07:41] #93 closed

[2017-11-21 14:33] julienmarie commented on #50
Hi, I'm encountering the same issue with phoenix_ecto 3.2 and 3.3 while making a release

[code]

My code ( in a library I created ) :

[code]

Am I doing something wrong ( In dev it's working perfectly ).

[2017-12-08 21:51] viniciussbs opened #94 "Set timeout for sandbox session"
Hi,

Is it possible to set the timeout for sandbox session? It seems like [the `SandboxSession` worker is ready to receive the timeout option](https://github.com/phoenixframework/phoenix_ecto/blob/be8e7c76085b16a04da4af5f39973d93029bfc73/lib/phoenix_ecto/sql/sandbox_session.ex#L12) but [the plug isn't passing the option](https://github.com/phoenixframework/phoenix_ecto/blob/be8e7c76085b16a04da4af5

[2017-12-08 21:54] josevalim commented on #94
I don't think we support it right now, so a PR would be appreciated!

[2018-01-03 15:33] Lubmes commented on #32
Wouldn't it be a great addition though? When you've defined your model, to be able to generate a blueprinted migration. Maybe even after changes, to be able to generate an add / remove column migration automatically.

Downside I guess is maybe that this makes programmers lazy and easily dismiss the advantages of indexing etc.

[2018-01-15 22:18] jerel opened #96 "No match of right hand side value when using the sandbox endpoint"
I'm giving the sandbox plug a try and I get this error when doing a `POST` to `/sandbox`:

[code]

I've configured it by adding this to the endpoint before the router:
[code]
I'm running `ecto` 2.2.8 and `phoenix_ecto` 3.3. Does this error look familiar to anyone?

[2018-01-15 22:29] chrismccord commented on #96
Weird. I haven't seen anything like this and it looks like it's coming from within Ecto's call do DBConnection. Can you verify your `db_connection` version and maybe make sure you're pin the latest stable? Thanks!

[2018-01-16 01:40] jerel commented on #96
`db_connection` is pinned to 1.1.3. After some more experimenting it turned out that hitting the endpoint while running with `MIX_ENV=dev` instead of `test` is what was causing this error.

[2018-01-16 12:30] #94 closed

[2018-01-16 12:34] josevalim commented on #74
Moving to https://github.com/phoenixframework/phoenix/issues/2687.

[2018-01-16 12:34] #74 closed

[2018-01-16 12:36] josevalim commented on #28
Ping. Is someone interested in sending a PR?

[2018-01-16 12:36] josevalim commented on #96
I will fix this in Ecto if possible, thanks for the report!

[2018-01-16 12:36] #96 closed

[2018-01-16 17:32] scrogson commented on #28
@josevalim I can put something together.

[2018-01-16 19:45] ryanwinchester commented on #8
@josevalim how about if we are using an umbrella application?

What if I want it seeded for all apps?

This works if I run the test from the app dir that has my `Repo`, but how can I make it also work from the umbrella root?

[code]

[code]

![](http://drops.ryanwinchester.ca/1b0x1n203y2q/[54d885433a63f9f09fb0915c0b65d837]_Screen%2520Shot%25202018-01-16%2520at%252011.41.38%2520AM.png)

[2018-02-12 20:23] sergiotapia commented on #72
@asiniy How did you end up solving this? We're having trouble with our Wallaby tests as well because socket's fail in the exact same way you described here. Thanks for the info!

[2018-02-12 20:44] viniciussbs commented on #72
@sergiotapia I ended up using shared mode for those kind of test - so they don't run asynchronously. But I guess you can try @josevalim idea. Just take a look at the recent change on Ecto Sandbox to offer better support for front-end apps testing - there's a blog post from DockYard about it.

[2018-02-28 18:11] chinochao opened #98 "Cannot Run seeds.exs"
Hi,

Every time I create a new html page using phx.gen.html and I try to create a seed I get this error message.

[code]

[2018-02-28 18:18] josevalim commented on #98
Can you make sure that `App.Statuses` is a module defined in your application?

If not, can you please include the relevant parts of your seeds file. It is likely that this isn't a phoenix_ecto bug and you are indeed trying to access a struct that does not exist in your application.

[2018-03-01 13:29] #98 closed

[2018-03-07 07:38] rbao opened #99 "Relax version requirement of ecto?"
Currently this package depends on with version `~> 2.1`, while ecto itself is already on `2.2.x` for quite some time now, so if this package is used then we can't take advantage of the newer feature from ecto 2.2.x

Wondering if the version requirement can be relaxed to include ecto 2.2.x, or is there anything blocking this change?

[2018-03-07 08:20] rbao commented on #99
nvm it seems to work with ecto 2.2

[2018-03-07 08:20] #99 closed

[2018-03-07 08:23] josevalim commented on #99
Yes! ~> 2.1 means 2.1, 2.2, 2.3, etc but not 3.0.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-03 18:28] mkaplan9 commented on #50
Having the same issue as julienmarie. Am going to try updated a few libraries and will report back if I have any success!

[2018-04-03 21:01] mkaplan9 commented on #50
Ah that makes sense I didn't understand the error message at first. For future people [here's it in Ecto](https://github.com/elixir-ecto/ecto/blob/ed861cbbfae1907463304597ee44d0951f9d0946/lib/ecto/json.ex). I think I'll just bite the bullet and write a better view that handles it, probably the right way to do it anyway. Thanks!

[2018-08-02 09:49] phikes commented on #96
This is still happening for me on Elixir 1.7.1 with phoenix_ecto 3.3.0 and ecto 2.2.10. db_connection is 1.1.3 as well.

I am not quite sure what you mean by this, @jerel. I tried running the phoenix server with `MIX_ENV=test mix phx.server`, but this does not even start.

[2018-08-02 10:41] josevalim commented on #96
@phikes his comment was because he was starting the dev in server (which does not use the sandbox) and then trying to use the sandbox. You need to make sure that you run the server in test and the sandbox is enabled in your config files. If you you can't invoke `MIX_ENV=test mix phx.server`, that should be your starting point, as both this command and `mix test` should work.

[2018-08-14 23:55] soteras commented on #28
I want to do that, is that up to date?

[2018-08-16 05:39] fenollp commented on #8
Why is this in priv/? This folder is for static assets that an app in a release will need at runtime. A sub folder of lib/ sounds like a much better place and reduces runtime bloat.

[2018-08-16 06:44] josevalim commented on #8
@fenollp since this is a script, it is not compiled in `lib`, and whatever is in `lib` does not make part of a release. To put it in other words, this file is not different than a ".sql" file or a ".sh" file. It is just written in Elixir. And to me the best place for scripts that I will need in production is priv or am I missing something?

[2018-08-16 06:56] fenollp commented on #8
Right, I guess you can need to seed a DB in production.

[2018-09-07 15:47] svarlet opened #101 "Up to date release"
Hi,

I've spent quite some time on a timeout issue which could be solved easily if a new release is published to hex with this commit: b65f3cc8e92a92553175550a08e18fbc39b2d02d.

In the meanwhile, I know I can simply point to it in my mix.exs file but I thought I would inform you that this repo has been updated a few times since the latest release.

Thanks

[2018-09-07 16:14] svarlet commented on #101
Hmm, actually pointing to this commit in mix.exs and my issue is not solved. Basically I'm running an acceptance test which takes more than 15 seconds. I did specify a 60s timeout via the sandbox plug but the transaction keeps being checked in forcefully *and not rolled back*.

**mix.exs:**
[code]

**endpoint.ex**
[code]

Logged errors:
[code]
followed by
[code]

Am I not passing the timeout value

[2018-09-07 16:40] svarlet commented on #101
Thanks!

I just added this ownership_timeout setting to `config/text.exs`
[code]

Now the connection is still checked in forcefully after 15 seconds... but the error says:

[code]

Do you still want me to try your suggestion or does this prove the presence of a bug?

[2018-09-07 17:06] josevalim commented on #101
I think it is a bug. Do you have a sample app that reproduces the issue? Note though that the error message now at least says after 60_000ms.

[2018-09-11 10:35] svarlet commented on #101
Hi @josevalim, while preparing a sample app I realised that things work the way they should. I think it's fine to close this issue.

[2018-09-11 10:35] #101 closed

[2018-09-14 08:36] IcyEagle commented on #72
@asiniy if you're still interested in, I've found a hacky way how to make socket tests async.

You have to add a special line at the beginning of your _Channel.join_ function so I will look like this:
[code]

It allows you to start your Ecto session inside your tests and then reuse it within your channels.

I inspected the code responsible for channel creation and concluded that at the moment ther

[2018-10-28 09:20] pshoukry opened #104 "Can't use ecto 3.0-rc because of phoenix ecto"
After upgrading phoenix_ecto to version 3.5 I am still not able to use ecto 3.0-rc
**Expected**
Using phoenix_ecto 3.5.0 will not prevent installing ecto 3.0-rc
**Actual**
Failed to use "ecto" (versions 3.0.0-rc.0 and 3.0.0-rc.1) because
  apps/myapp/mix.exs requires ~> 3.0-rc
  phoenix_ecto (version 3.5.0) requires ~> 2.2 or ~> 3.0

[2018-10-28 09:26] #104 closed, assigned to nobody

[2018-10-28 15:03] zimt28 commented on #8
@chrismccord The Seed task suggested above has quite some advantages over the seed file coming with Phoenix, why not add it as a good default instead?

[2018-10-28 16:13] josevalim commented on #8
Phoenix does support database seeds. It is a matter of “mix run
priv/repo/seed.exs”.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-10-29 02:31] ryanwinchester commented on #8
This is often one of the first things I do when I set up a new phoenix project, is to add an `ecto.seed` alias:

[code]

Then have a `seeds.dev.exs`, `seeds.prod.exs`, ... etc files in `priv/repo`

[2018-10-30 14:15] beatmadsen opened #105 "Problems with MySQL adapter in 3.5"
When I'm setting up a new phoenix application with a MySQL database, either by using the `--database mysql` cli arg or by updating the dependencies and configurations manually following the guide for Phoenix v.1.3.4 I run into the following compilation issue:
[code]
I'm on the latest homebrew MariaDB (10.3.10).

The compilation problem goes away when I downgrade `phoenix_echo` to  `3.4.0`.

Here's

[2018-10-30 16:05] josevalim commented on #105
Good catch. It should be fixed now as we retired phoenix_ecto 3.5.0 and released 4.0.0 instead.

[2018-10-30 16:05] #105 closed

[2018-10-30 16:05] josevalim commented on #105
Thanks!

[2018-10-31 14:29] hawksight opened #106 ":adapter from config files - Postgres"
Building some applications today I've noticed that both 3.5.0 and 4.0.0 of `:phoenix_ecto` return an error when trying to test the application:

[code]

Repo file:
[code]

Config changes per environment, but essentially for dev
[code]

I tried the config as described in the deprecation warning but got the following issues:
[code]

Also notice in `mix deps.get` for 3.5.0:
[code]
Hence tried version

[2018-10-31 14:50] josevalim commented on #106
You need to add `ecto_sql` as a dependency if you are trying phoenix_ecto 4.0.0.

[2018-10-31 14:50] josevalim commented on #106
But to clarify, there is a bug on our side here too.

[2018-10-31 14:59] josevalim commented on #106
Fixed by releasing v3.6.0. A fresh Phoenix v1.3.x install should no longer have this error. thanks!

[2018-10-31 14:59] #106 closed

[2018-10-31 15:09] hawksight commented on #106
Thanks for the upgrade tip on 4.0.0.
Just checked 3.6.0 and it works perfectly, thank you.

[2018-11-01 06:22] memolab opened #107 "phoenix_ecto 4.0 inputs_for and cast_assoc error"
expected a map, got: nil
lib/phoenix_ecto/html.ex:234

[2018-11-01 08:11] josevalim commented on #107
Can you please provide a complete bug report with a mechanism to reproduce the error? Please include versions, complete error message with complete stacktrace and let us know how you are calling the code. Otherwise there isn't much we can do to fix the error.

[2018-11-01 09:06] memolab commented on #107
in phoenix 1.4.0-rc.3 and phoenix_ecto 4.0,  just i call new with render form
Controller:
  def new(conn, _params) do
    changeset = Accounts.change_user(%User{account: %Account{}})
    render(conn, "new.html", changeset: changeset)
  end

View:
.....
 <%= inputs_for f, :account, fn fp -> %>
    <%= text_input fp, :email %>
    <%= password_input fp, :password %>
  <% end %>
....
Complete stacktr

[2018-11-01 09:15] josevalim commented on #107
How does your account and user schemas look like? Is there a chance your changeset/2 functions in in the `Account` schema is returning `nil`?

[2018-11-01 09:33] memolab commented on #107
yes,
there is nil in changeset
THANKS

[2018-11-01 09:34] memolab commented on #107
working now, thanks.

[2018-11-01 10:22] #107 closed, assigned to nobody

[2018-11-28 16:30] LostKobrakai opened #111 "inputs_for loosing options when using action: :ignore on changeset"
I've an entity, which can be linked to children. Now I've a screen where I present current children and possible other children using `inputs_for f, :children, [append: @others], fn finner ->`. I've also the constraint that it should not be possible to remove all children.

For asserting what's to be added or removed I simply use a checkbox of a virtual field like it's described in the `Ecto.Chang

[2018-11-28 16:53] josevalim commented on #111
Can you provide a minimal app for us to look at? So we can play with things and try to grasp the issue? Thank you.

[2018-11-28 18:12] LostKobrakai commented on #111
https://github.com/LostKobrakai/inputs_for_example

[2018-11-29 08:50] LostKobrakai commented on #111
It was late yesterday, so here a bit of explanation:
- Install like any other phoenix app
- Open localhost
- Either uncheck all children to cause an error though `required: true` on `cast_assoc`
- Or uncheck the last checkbox to trigger an error unrelated to the children on the form
- When submitting while causing an error it'll loose all the unchecked options, which were shown prev. via the `[app

[2018-11-29 09:31] LostKobrakai commented on #111
It does fail with:
[code]

[2018-11-29 13:58] LostKobrakai commented on #111
I think multiple passes was I needed to hear. I've it now working for my initial usecase. It's a bit more complex than I hoped for, but not to much. I might update the example repo later, but I think this issue can be closed for now.

For anyone wondering: I'm doing the cast_assoc, but if there are errors I use the prev. changeset state and apply the errors of the casted one to it and cast the chi

[2018-11-29 15:30] #111 closed

[2018-12-07 02:49] ggerico opened #112 "Callback mismatch for @callback to_form/4 in Phoenix.HTML.FormData behaviour"
FYI, Dialyxir reports a  mismatch for *phoenix_ecto  @version "4.0.0"* :

[2018-12-07 09:20] josevalim commented on #112
Thanks, fixed in Phoenix.HTML.

[2018-12-07 09:20] #112 closed

[2019-01-03 16:34] dideler opened #113 "Project license unclear"
[The package metadata, used by Hex, says Apache 2.0.](https://github.com/phoenixframework/phoenix_ecto/blob/c6b448f43c4591e6fd37f02ea0cb0968bb6dc2ab/mix.exs#L39)

[The README and LICENSE file says MIT.](https://github.com/phoenixframework/phoenix_ecto/blob/master/LICENSE)

Is there a discrepancy or is the project meant to be dual-licensed?

[2019-01-03 16:39] #113 closed

[2019-01-03 16:39] josevalim commented on #113
Good catch. Probably a copy and paste error on the mix.exs. Thanks!

[2019-04-05 08:00] kurmetaubanov opened #114 "Advanced select"
Hi Jose Valim, i appreciate your work very much.

Please, can i get help or assistance in solving this problem in ecto.

I often use SQL with this type of selects:

SELECT a.data FROM table AS a
WHERE a.id = (SELECT b.id FROM another_table AS b WHERE b.data=something ORDER_BY b.order DESC LIMIT 1)

etc.

I know now this can by done using fragments. But in fragment I need to use another_table name

[2019-04-05 08:02] josevalim commented on #114
Hi @kurmetaubanov, glad to hear you are enjoying Elixir.  Unfortunately I  am quite time constrained, but you can use the [ElixirForum](http://www.elixirforum.com) or StackOverflow for questions/help/feedback, where a wider community will be able to help you. Thanks!

[2019-04-05 08:02] #114 closed

[2019-06-19 08:53] LostKobrakai opened #117 "Do not require `as:` option"
Recent versions of phoenix_html no longer require an `as:` option for `form_for`, but phoenix_ecto does still enforce the usage of one, when schemaless changesets are used.

[2019-06-19 09:28] josevalim commented on #117
A pull request is welcome, thanks!

[2019-07-24 12:05] thojanssens opened #118 "inputs_for :append/:prepend options don't add inputs if there is an error in the changset"
According to this test:
https://github.com/phoenixframework/phoenix_ecto/blob/master/test/phoenix_ecto/inputs_for_test.exs#L445

It is assumed we don't want to append/prepend blank inputs when there is an error in the changeset. But why?

If a form is submitted (for a new record) with errors (for example for some other field in the form), the extra inputs won't show, and it is then impossible to s

[2019-07-24 12:34] josevalim commented on #118
It is done like that because the idea is to show those inputs only on the initial render. It is meant to be something like: "if you want to add a new embed, start feeling this one here". Otherwise, whenever there is an error, we will add a bunch of more fields, and so on and so on.

 But this is just tiny convenience. You can render any new inputs yourself, for example by using JS.

[2019-07-24 12:34] #118 closed

[2019-07-24 13:25] thojanssens commented on #118
I thought it would somehow be possible to make sure only one extra set of blank inputs are rendered in case of (recurrent) errors (instead of adding them up - which is the problem you mentioned). It's a pity that I will have to use JS just because of that, because in my case it's just an admin interface, I need the most basic thing that works. I do not see many use cases for the current behavior.

[2019-07-27 07:17] thojanssens commented on #118
Sorry, if an error occurs on a field, the extra prepended/appended fields do not disappear. I had a problem with my changeset (didn't use cast_embed properly), which had the side-effect that it made the fields disappear.

Everything is working fine and it is then a nice convenience.

[2019-07-29 20:01] chrismccord commented on #117
@LostKobrakai if you'd like to submit a PR, please do. Thanks!

[2019-07-29 20:01] #117 closed

[2019-11-13 09:36] daniellizik opened #123 "(chore): upgrade to latest ecto version"
Currently it seems like [phoenix_eco](https://github.com/phoenixframework/phoenix_ecto/blob/master/mix.exs#L53) is at ecto 3.0. In ecto 3.2.1 they introduced [`Ecto.Changeset.validate_exclusion`](https://hexdocs.pm/ecto/3.2.1/Ecto.Changeset.html#validate_exclusion/4) which I'd like to utilize. Is it possible to update? Thanks for your time.

[2019-11-13 10:17] josevalim commented on #123
You can update it in your app. “mix deps.update ecto”. This project with any version after 3.0.

[2019-11-13 10:17] #123 closed

[2019-11-13 11:05] daniellizik commented on #123
oh ok thanks

[2020-01-07 17:28] francocatena opened #125 "Error on inputs_for when using with MFA option on cast_assoc"
Hi,

I'm using the `with` MFA option on `cast_assoc` as suggested in: https://hexdocs.pm/ecto/Ecto.Changeset.html#cast_assoc/3-options. When I try to use `inputs_for` it raises an exception:

The code is similar to the following:

[code]

And the template:

[code]

The `Video.changeset/3` function always returns a changeset. I am doing something wrong?

If this is indeed a bug I'll be happy to hel

[2020-01-07 17:37] josevalim commented on #125
Hi @francocatena ! THe fix is to add a new clause here that handles the tuple: https://github.com/phoenixframework/phoenix_ecto/blob/c49af30c958b849466620e7f91285e02d8ea050b/lib/phoenix_ecto/html.ex#L236

A PR with a fix is welcome but if a fix is too complicated, simply a PR that adds a failing test would already help us a lot. Thank you!

[2020-01-07 20:40] francocatena commented on #125
Hi @josevalim, thank you very much for your feedback, it made the change a lot easier. I've created a new PR, any comment on that is welcome!

[2020-01-08 09:26] #125 closed

[2020-07-10 08:54] thojanssens opened #130 "Missed `InvalidChangesetError` errors on `apply_action!/2` because they got transformed into `:debug` messages"
[ Moved from https://github.com/elixir-ecto/ecto/issues/3359 to here ]

In my application, an error gets raised because I tried to call `Ecto.Changeset.apply_action!/2` on an invalid changeset.

The problem is that I missed those errors because the error got transformed into a `:debug` message.

It happens because Phoenix Ecto considers that Changeset errors are only user errors and mark them as 4

[2020-07-10 09:13] josevalim commented on #130
Fixed in master, thanks for the report!

[2020-07-10 09:13] #130 closed

[2020-07-10 09:26] thojanssens commented on #130
Thank you. Commit is https://github.com/phoenixframework/phoenix_ecto/commit/5cb1df6134a9b970d6677353829aee3739e56dde

[2020-07-17 15:49] aselder opened #131 "Should Ecto.ChangeError be handled by plug.ex?"
Bad user input can result in Ecto.ChangeError which isn't handled by the error handling in plug.ex

I'll like to propose that Ecto.ChangeError be mapped to return a 400 Bad Request or 422 Unprocessable Entity.

If people are agreeable, I'm happy to put together the PR.

[2020-07-17 16:13] josevalim commented on #131
We have just recently changed the project to no longer handle Ecto changes errors as 422, because those are intentionally not logged, causing errors to be silenced.

Given that you would not want to raise those on HTML projects, since you usually have to re-render, and given that the fallback controller is a better abstraction for APIs, I believe we should not add this and similar behavior back. :

[2020-08-14 17:53] rootkc commented on #72
I am doing integration testing using wallaby and i solved my issue with `DBConnection.OwnershipError` for channels using the approach suggested by @josevalim.

When starting a session in my `feature_case.ex`

`    session
    |> Browser.visit("/")
    |> Browser.execute_script(
      "localStorage.setItem('socketOwner', arguments[0]);",
      [serialize_pid(self())]
    )`

In my `socket.js`

`con

[2020-09-02 14:13] juantascon commented on #131
@josevalim what is the proper way to handle InvalidChangesetError after say a `Repo.insert!()` call fails? should I just use `Repo.insert()` instead and rely on FallbackController? using `Repo.insert!()` has allowed me to write cleaner code using the pipe operator.

[2020-09-02 14:23] josevalim commented on #131
Yes.

[2020-09-02 14:23] josevalim commented on #131
Closing per the above.

[2020-09-02 14:23] #131 closed

[2020-09-07 04:20] himangshuj commented on #70
Seems like this issue has been resolved in release 4.2
https://github.com/phoenixframework/phoenix_ecto/blob/master/CHANGELOG.md

[2020-09-23 13:40] svrcekmichal opened #133 "Phoenix.Ecto.CheckRepoStatus throws error in CLI if database "postgres" is not used"
### Environment

* Elixir version (elixir -v): Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Phoenix version (mix deps): 1.5.5
* Operating system: macos catalina
* Browsers you attempted to reproduce this bug on (the more the merrier): chrome

### Actual behavior

1. setup fresh project `mix phx.new test`
2. since I'm using heroku postgres, I'm not able to setup database with `mix ecto.create`. He

[2020-09-23 16:07] josevalim commented on #133
Hi @svrcekmichal! One quick question: you are running in dev mode on Heroku? Because the plug should only run in the dev environment exactly due to the issues you listed. :)

[2020-09-23 17:44] svrcekmichal commented on #133
Hi @josevalim. I'm running in dev, but not on heroku. I'm using only heroku postgres, otherwise running all locally since I'm learning and don't need deployed app

[2020-09-23 17:54] josevalim commented on #133
@svrcekmichal oh, so you are running against a heroku postgres database from development? :)

[2020-09-23 19:08] svrcekmichal commented on #133
@josevalim Yes, that's correct. If by any chance you or somebody who is able to fix this need some heroku postgres for testing, you can use my setup
[code]
The steps are us above. I know it contains username, password etc, but it's heroku free tier and I can drop and create whatever amount I want, so feel free to test on it.

[2020-09-25 08:18] #133 closed

[2021-01-22 14:05] caiquejjx commented on #133
@svrcekmichal did u solve this issue? getting the same in the same situation (using heroku psql) and just cant solve it

[2021-01-22 14:41] Nicd commented on #133
@caiquejjx have you tried with the fix in commit 6e1c394 that is contained in version 4.2.1 of this library?

[2021-01-22 14:45] caiquejjx commented on #133
yes, it's the version I'm using

[2021-01-30 08:47] kianmeng opened #135 "Navigation bar link showing un-decoded HTML entities title."
![Screenshot-20210130164014-436x76](https://user-images.githubusercontent.com/134518/106351974-8e24ad80-631a-11eb-9541-0eb8586ca9dc.png)

Dep of `ex_doc` in `mix.lock` needs to be upgrade to 0.23

[2021-01-30 10:58] josevalim commented on #135
Done, thanks!

[2021-01-30 10:58] #135 closed

[2021-03-03 16:47] ChristopheBelpaire opened #137 "Problem with nested input with version 4.2.1"
Hello,
I had a kind of bug when I upgraded from version 4.1.0 to 4.2.1 .

I'm using the following nested form :
[code]

And I have the following error after upgrade :
lib/phoenix_ecto/html.ex
[code]

It is fixed if I add an ID to my input_for :
[code]
Did I miss something or is it a bug ? :)

Thanks in advance!

[2021-03-03 16:54] josevalim commented on #137
I think you forgot to add the actual error you are seeing? :)

[2021-03-03 17:34] ChristopheBelpaire commented on #137
Hello,
the statcktrace is :
[code]
<img width="1605" alt="Capture d’écran 2021-03-03 à 18 32 40" src="https://user-images.githubusercontent.com/137277/109846936-f71b8000-7c4e-11eb-8b19-78c4fb336b8d.png">

Better with a screenshot maybe :)

[2021-03-03 17:38] josevalim commented on #137
Thanks. I need more information to reproduce this. How is the form being created? I believe the form id should always be set as long as you start building the form from a changeset. Otherwise you need to pass the `:id`.

[2021-03-03 20:07] ChristopheBelpaire commented on #137
Hello again!
Thanks for looking at the issue :)
Ok, I made an example to reproduce the problem here :
https://github.com/ChristopheBelpaire/phoenix_ecto_issue_137
If the form_for and the input_for both have an id, everything is fine.
If the form_for has an id but the form_for doesn't, it crash.
I just noticed it because I had this case and it was fine in the previous version of phoenix_ecto.

[2021-03-04 13:28] josevalim commented on #137
Oh, it took me a while but I understand the issue now. ID must be a string. I will improve the error messages here. :) Thanks!

[2021-03-04 13:28] #137 closed

[2021-03-04 13:30] josevalim commented on #137
Also thanks a lot for the app reproducing the issue :)

[2021-03-04 14:42] ChristopheBelpaire commented on #137
And thanks a lot for fixing it! :)

[2021-04-01 07:42] miguel-s opened #138 "String keys in form input helpers"
Hi!
While implementing the form components in Surface (PR https://github.com/surface-ui/surface/pull/319) I've run into an error with phoenix_ecto when using changesets and string keys.

Controller
[code]

Template
[code]

Error

It looks like support for string keys was added to phoenix_html a while ago with this PR https://github.com/phoenixframework/phoenix_html/pull/198. But from what I can te

[2021-04-01 07:44] josevalim commented on #138
We have two options:

1. Raise a better error message since we require atom keys because the values in the changeset are atom keys
2. Return nil

If we force you to use atom keys, will that work for you?

[2021-04-01 07:50] miguel-s commented on #138
Yes, I believe showing a nice error message would be enough 👍

[2021-04-01 08:08] josevalim commented on #138
Sweet, a PR is welcome!

[2021-04-01 09:18] #138 closed

[2021-07-15 14:54] pezholio commented on #133
Can confirm, I get the same issue, even using version 4.2.1

[2021-07-15 15:34] pezholio commented on #133
Here's the error log, which seems pretty much identical to the one OP has:

[code]

[2021-08-18 02:20] kypse opened #142 "Phoenix.Ecto.CheckRepoStatus.init/1 is undefined"
Hi There,

When creating a new umbrella project and simple run using mix phx.server it is showing the  following error:

UndefinedFunctionError at GET /
function Phoenix.Ecto.CheckRepoStatus.init/1 is undefined (module Phoenix.Ecto.CheckRepoStatus is not available)

This issue doesn't happen when create a new project without a umbrella command.

[2021-08-18 05:48] josevalim commented on #142
Hi @kypse, can you please provide more information? How are you creating the umbrella? Which Elixir and Phoenix versions? Can you provide a minimal app that reproduces it?

What is most likely happening is that the project is not depending on phoenix_ecto directly.

[2021-08-18 21:23] kypse commented on #142
Hi @josevalim ,

Sorry for delay in my response. During the day employee and at night a dreamer. ;)

elixir -v
Erlang/OTP 24 [erts-12.0.3] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit] [dtrace]
Elixir 1.12.2 (compiled with Erlang/OTP 24)

mix phx.new --version
Phoenix v1.5.9
Mix 1.12.2 (compiled with Erlang/OTP 24)

Please attached the output for a testing project.
[create_projec

[2021-08-18 21:31] josevalim commented on #142
I think for some reason your app is getting a very old version of phoenix_ecto. Can you please send your mix.lock too?

[2021-08-18 21:34] josevalim commented on #142
Do this. Find the mix.exs under _web and replace this:

    {:phoenix_ecto, "~> 4.0"},

By this:

    {:phoenix_ecto, "~> 4.4"},

I will push a fix to the generator.

[2021-08-18 21:34] #142 closed

[2021-08-18 21:58] josevalim commented on #142
And thanks for the report!

[2021-08-18 23:58] kypse commented on #142
Great!
Thank you! Obrigado!

[2021-10-13 17:48] evansorenson opened #145 "Trying to upgrade phoenix and Liveview to latest versions, dependency error with phoenix_html"
I was trying to upgrade phoenix and Liveview to take advantage of the cool new features Chris talked about at ElixirConf today. But I kept getting the below error, saying the phoenix Ecto requires phoenix_html 2.9 while the latest phoenix and Liveview versions need phoenix_html 3.0. Is this being worked on or am I doing something wrong? I have listed my deps below the error.

[code]

[2022-04-28 08:16] fuelen opened #152 "Distinguish queries made by phoenix_ecto"
I work on an alternative logger for Ecto which uses telemetry https://github.com/fuelen/ecto_dev_logger
And the issue I have currently, is that I cannot distinguish queries made by `Phoenix.Ecto.CheckRepoStatus` plug and by my application, so on every HTTP request I see the following logs:
[code]
It would be great if there is something in telemetry metadata that could help me to hide such logs.

P

[2022-04-28 08:34] josevalim commented on #152
I think you can pass `log: false` to the check status plug? If so, can you please:

1. Document the log: false option
2. Change Phoenix generators to pass log: false by default?

[2022-04-28 08:47] fuelen commented on #152
Sorry, I didn't get the idea with `log: false`.
`log: false` is a requirement to use my custom logger in order not to duplicate logs.
According to this code
https://github.com/elixir-ecto/ecto_sql/blob/c73ba2b1edf9d049804c2103d7dd4c9d28e6c59d/lib/ecto/adapters/sql.ex#L1107-L1120
telemetry event is published even if `log: false`

[2022-04-28 09:25] josevalim commented on #152
Oh, I understand now. IIRC, we started adding some option for migration queries, something like `:migration_source`? Please inspect all telemetry metadata and see if there is something you can use.

If not, I think you can pass `telemetry_options: %{dev_logger: false}` to the Plug too.

Finally, you should consider sending the improvements in `ecto_dev_logger` upstream. I know @v0idpwn was excited

[2022-04-28 09:25] #152 closed

[2022-04-28 10:16] fuelen commented on #152
Nope, here is one small example of metadata
[code]

Passing additional options to the Plug also does not help.

Good to know, I'll open a discussion later :)

[2022-04-28 11:01] josevalim commented on #152
We should support that, so PRs here are welcome too!

[2022-05-19 23:06] lessless opened #153 "Ecto.Adapters.SQL.Sandbox times out in CI (GH Actions/Semaphore)"
Hi,

Initially, I opened a topic on the elixir form, but on the second thought, this might be a better place, because the aforementioned plug's behaviour varies depending on the environment, whilst ideally it should be indiscriminate to that.

I’m looking for advice on setting up E2E testing with Cypress as a part of the CI/CD pipeline. The suite works perfectly fine, but it’s a total trainwreck w

[2022-05-20 04:48] josevalim commented on #153
From the looks of it, it seems not related to Ecto. You are most likely running out of file descriptors in the OS, and that’s causing reading file, opening sockets, and similar to fail. Bump or set the limit to infinity and you should be good.

[2022-05-20 04:48] #153 closed

[2022-05-20 08:30] lessless commented on #153
File descriptors limit is already set to max

[code]

[2022-05-20 09:04] josevalim commented on #153
Hrm, this is weird because it shows the classical symptoms of running out of file descriptors. Both tools (Elixir and the thing logging file dropped) are reporting the same.

So given two tools report the same and it works on other environments, I am inclined to think the issue is elsewhere, unless you can further isolate/pin point it.

[2022-06-01 09:29] Cowa opened #154 "Phoenix.Ecto.SQL.Sandbox support for multi repos?"
Hello! 👋

I'd like to use the sandbox plug with multi repos, like this:

[code]

By reading the code source I found some hints that made me think it would be possible:
https://github.com/phoenixframework/phoenix_ecto/blob/4d6b23c218f2cdca4f07b68e3dc67c4d87b6f5e3/lib/phoenix_ecto/sql/sandbox.ex#L250-L253

https://github.com/phoenixframework/phoenix_ecto/blob/4d6b23c218f2cdca4f07b68e3dc67c4d87b6f5e3

[2022-06-01 10:10] josevalim commented on #154
You are right. It seems we don't allow multiple repos on the Plug API. The fix is to change the SandboxSession to receive multiple repos and manage multiple repos at once. A PR is welcome.

[2022-06-01 12:57] Cowa commented on #154
Thanks! I will work on that next week.

[2022-06-27 13:14] greg-rychlewski commented on #152
@fuelen you should be able to see `schema_migration: true` in the telemetry options using `ecto_sql` master

[2022-06-28 08:28] fuelen commented on #152
@greg-rychlewski I tried it and `schema_migration: true` is present only for these log lines:
[code]
[code]
so, the option is absent for `begin`, `commit` and `LOCK TABLE ...`

[2022-06-28 08:34] josevalim commented on #152
Ah, yes. Those are in different files and we need to set them too.

[2022-06-29 09:34] greg-rychlewski commented on #152
@fuelen Thanks for catching that. Now it should be fixed in ecto_sql master.

[2022-08-12 17:27] SteffenDE opened #157 "Tasks inside LiveView do not run in sandbox"
Hello there,
I've setup the `Phoenix.Ecto.SQL.Sandbox` as described [here](https://hexdocs.pm/phoenix_ecto/Phoenix.Ecto.SQL.Sandbox.html#module-liveview) and it works mostly great in our end to end tests.
Today I came across the following issue: Our LiveView loads some data asynchronously using `Task.start`:

[code]

The problem is that the task does not use the sandbox. I thought that the sandbox

[2022-08-12 18:14] josevalim commented on #157
Does it work for Task.async?

[2022-08-12 18:47] SteffenDE commented on #157
No difference. I'll try to create a single-file reproduction script tomorrow, if that helps.

[2022-08-13 12:16] SteffenDE commented on #157
I created a Livebook which sets up a sandboxed page that shows this issue:
https://gist.github.com/SteffenDE/80e066d132e2c9b983e4d891d58c4b55

[2022-08-14 13:26] josevalim commented on #157
You need to setup the sandbox to run in "manual" mode. It typically happens in the test helper. Looking at your code, it doesn't happen anywhere. Perhaps that's the explanation?

You can set `ownership_log: :info` in the DB configuration to see what the ownership system is reporting.

[2022-08-14 13:44] SteffenDE commented on #157
Good to know about the `ownership_log`, that's indeed useful.

Maybe there is some misunderstanding. I'm having this problem in end to end tests, similarly to what's described in https://dockyard.com/blog/2017/11/15/how-to-add-concurrent-transactional-end-to-end-tests-in-a-phoenix-powered-ember-app. The real tests actually use the `POST /sandbox` endpoint to get the metadata passed in the User-Age

[2022-08-14 14:10] josevalim commented on #157
You still need to run in manual mode or shared mode. Without manual mode or shared mode, each process will automatically checkout a connection.

[2022-08-14 14:32] SteffenDE commented on #157
Alright, so following the [documentation](https://hexdocs.pm/phoenix_ecto/Phoenix.Ecto.SQL.Sandbox.html#content), where should the repo be set to manual or shared mode?

I feel like what is needed here is not possible right now: a kind of automatic mode, but with the option to checkout a connection that transitively allows child processes to use the same connection.

[2022-08-14 14:32] SteffenDE commented on #157
Sorry, wrong button pressed...

[2022-08-14 14:35] josevalim commented on #157
You need to mirror what happens in Phoenix' regular test suites. Which is to boot the app, run test migrations, etc, and then set the sandbox to manual in the test helper. Then for each test you explicitly checkout a connection and potentially set it as shared.

[2022-08-14 14:36] josevalim commented on #157
In other words, the linked documentation assumes it is being setup on top of the generated Phoenix testing structure. Improvements to the docs are welcome.

[2022-08-14 15:48] SteffenDE commented on #157
Hmm, so specifically the part about [using external HTTP clients](https://hexdocs.pm/phoenix_ecto/Phoenix.Ecto.SQL.Sandbox.html#module-concurrent-end-to-end-tests-with-external-clients) does not read like it assumes the Phoenix testing structure and ExUnit at all. I'm also not sure how I'd set the mode to manual or shared when running concurrent external tests with tools like [Cypress](https://beg

[2022-08-14 18:24] josevalim commented on #157
Does this article help? https://dockyard.com/blog/2017/11/15/how-to-add-concurrent-transactional-end-to-end-tests-in-a-phoenix-powered-ember-app

[2022-08-14 18:29] josevalim commented on #157
And thanks for the nice words, it is no problem :)

[2022-08-14 18:33] SteffenDE commented on #157
Quoting myself from above:

It's a great article and actually exactly what inspired me to set this up, but it also does not mention setting the sandbox mode to manual or shared anywhere.

[2022-08-14 18:42] josevalim commented on #157
Sorry, I missed it. I will take another look again soon. :)

[2022-08-14 19:24] josevalim commented on #157
Yeah, sorry, I can’t see how this would work otherwise. You need to explicitly allow inside the task to avoid races or set it to manual to allow the $caller fallback to work or set it to shared if you don’t have concurrent tests.

[2022-08-14 19:41] SteffenDE commented on #157
Alright so my workaround from above is probably the easiest solution:
[code]

I thought about the following, which would need some (probably major) changes in `db_connection`: Would it be possible to add something like `Ecto.Adapters.SQL.Sandbox.allow_transitive(Repo, self())` to automatically allow Tasks spawned by the owner to use the same connection? Similar to https://github.com/elixir-ecto/db

[2022-08-14 19:57] josevalim commented on #157
I am back at the computer now, so I can give more complete answers. Sorry for the brevity previously, I was trying to provide quick feedback to hopefully unblock you but it is clear the problem is more complex. :)

---

@SteffenDE maybe your workaround would be simpler by allowing in the child?

[code]

Right, that's pretty much how manual mode works. The whole point is that you need to explicitly

[2022-08-14 20:33] SteffenDE commented on #157
Oh yes that's much better. I somehow thought that the owner has to allow the other process, but we're passing both pids...

-------

Oh wow, now I feel stupid. I actually tried setting the Repo to manual mode when running in `:e2e` env, but I did it in the on_mount callback of a Liveview, which lead to the following error in my Playwright tests:

[code]

[code]

So requests to normal controllers f

[2022-08-14 20:33] #157 closed

[2022-08-15 13:36] SteffenDE commented on #157
Hmm okay so I've found one thing that does not work as I'd like:
Before I set the Repo to manual mode, I could have some tests that run without being sandboxed (simply by not setting the User-Agent string). In manual mode, these unsandboxed tests now lead to Ownership errors as they never explicitly check out a connection. Similarly, a Broadway pipeline that also runs in the e2e env fails with own

[2022-08-15 14:15] josevalim commented on #157
You can split your tests to run the manual and non-manual separately. Alternatively, run the non-manual tests in shared mode by posting to `/checkout?shared=true`.

[2022-08-15 14:28] SteffenDE commented on #157
Yeah I thought about that, but Playwright (the framework we use for performing end-to-end tests) sadly does not offer an easy way to group tests or mark them as synchronous like ExUnit does. Otherwise that would probably be a good solution.

I think I'll go with the workaround for now, running in `:auto` mode and explicitly allowing the Task. Would you be open for a contribution that adds somethin

[2022-08-15 14:37] josevalim commented on #157
Could you split them into two distinct suites?

And what about "Alternatively, run the non-manual tests in shared mode by posting to /checkout?shared=true", wouldn't that work since you already have a checkout?

The issue with `allow_transitive` is that it would make all automatic checkouts slower... but I am not sure. :)

[2022-08-15 14:48] SteffenDE commented on #157
I could split the tests into different folders and explicitly tell playwright to first run the sandboxed tests and then later the non-sandboxed, but that's currently more work than the workaround, so I wanted to check other possibilities first.

That would also require me to not run these tests concurrently with the other tests, right? As far as I understand shared mode is not compatible with para

[2022-08-15 14:58] josevalim commented on #157
Yeah :(

[2022-11-05 10:16] #154 closed